.*
gmon.out
data
*.w2c*
*.o
*.so
libopenmp.so.1
libiomp5.so
*-bak
a.out
/omp/tests/*
!/omp/tests/Makefile
!/omp/tests/omp-*.c
!/omp/tests/omp-*.h
!/omp/tests/strassen/*.c
!/omp/tests/strassen/*.h
!/omp/tests/strassen/Makefile

/omp/apps/*
!/omp/apps/mpic2/*.c
!/omp/apps/mpic2/*.f
!/omp/apps/mpic2/*.f90
!/omp/apps/mpic2/*.h
!/omp/apps/mpic2/*.c
saved.vim
tags
/bots
/hpx/*
!/hpx/*/*.c
!/hpx/*/*.cpp
!/hpx/*/*.h

omp/benchmarks/*
!omp/benchmarks/bots/Makefile
!omp/benchmarks/bots/omp-tasks/*

uh.vim
